<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            AdminCheck
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
        <p>ADMIN</p>
    {% endblock %}
</body>
</html>